<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>X Clone</title>
  </head>
  <body>
    <header class="topbar"><%- include("includes/topbar") %></header>
    <main class="main-content"><%- include(content) %></main>
  </body>
</html>
