<div class="container">
  <script src="/javascripts/tweets/tweets.js"></script>

  <!-- Section gauche : Profil -->
  <aside class="profile-section"><%- include("../includes/profile") %></aside>

  <!-- Section centrale : Liste des tweets -->
  <%- include("partials/tweet-list") %>
</div>
